

.bag-area {
    display: flex;
    flex-direction: column;
   width: 270px;
    max-width: 300px; 
    background:#EDEDED;  
    border-radius: 8px;
    padding: 16px;
    position:fixed;
    right: 0; 
    top: 0; 
    height: 1000px; 
    overflow: hidden;
}
.vertical-line {
    width: 10px; 
    background-color: #4c4d50; 
    height: 100vh;
    margin-right: 90px; 
}


.bag-header {
    margin-bottom: 16px;
}

.bag-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.bag-items {
    margin-bottom: 16px;
}

.bag-items-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.bag-item {
    width: 60px; 
    height: 60px; 
    background: #e0e0e0;
    border-radius: 4px;
}

.item-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.cta {
    display: flex;
    justify-content: center;
}

.cta-button {
    display: flex;
    align-items: center;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 9px;
    padding: 12px 240px 12px 120px;
    cursor: pointer;
    font-size: 16px;
    width: 25%;
}

.cta-icon {
    margin-right: 50px;
    text-decoration: none;
}

.cta-icon-img {
    width: 10px; 
    height: 20px; 
}

.cta-text {
    font-weight: bold;
    text-decoration: none;
    color: white;
   padding: 9px;
  
}
 