.dashboard .top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }
  
  .dashboard .label-1 {
    margin-bottom: 8px; 
    width: 200px;
    margin-top: 20px;
    margin-right: -30px;
  }
  .label{
  margin-top:20px;
    font-size: 20px;
  font-weight: lighter;
  }

  
  
   .input-field input {
    width: 100%; 
    max-width: 400px; 
    margin-right: 40px;
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 2px 2px 0px rgb(98, 94, 94);
    text-align: center;
  }
  .dashboard{
    text-align: center;
  }
   