
/* styles/SideBarStyles.css */
.navbar {
    border-radius: 8px;
    background: var(--ui-white, #FFFFFF);
    margin-right: 100px; 
    margin-left: 20px;
    margin-top: 9px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
    width: 72px;
    height: 100vh; 
    box-sizing: border-box;
    transition: width 0.9s; 
}
.navbar.expanded {
    width: 200px;
    max-width: 400px;
}
.nav-links-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
}

.logo {
    border-radius: 4px;
    background: var(--ui-white, #FFFFFF);
    margin: 0 4px 47.1px 4px;
    display: flex;
    padding: 8px;
    width: 40px;
    height: 50px;
    margin: 20px;
    box-sizing: border-box;
}

.group-1 {
    width: 30px;
    height: 40px;
}

.menu-icon {
    margin: 0 12.1px 47.1px 12.1px;
    display: flex;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.icon {
    border-radius: 50px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}

.vector-4 {
    /* border-radius: 50px; */
    width: 30px;

    height: 30px;
}

.nav-link {
    border-radius: 10px;
    background: var(--font-dark, #1A1F16);
    margin-bottom: 41.5px;
    display: flex;
    padding: 10px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.vector-2 {
    width: 20px;
    height: 20px;
  
}

.nav-link-1 {
    border-radius: 10px;
    margin: 0 10.2px;
    display: flex;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.nav-link-2 {
    border-radius: 10px;
    background: var(--ui-danger, #E5252C);
    display: flex;
    padding: 11.8px 10.3px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.vector-5 {
    width: 19.5px;
    height: 16.5px;
}

.nav-link-bottom {
    display: flex;
    width: 100%; 
    justify-content: center; 
    box-sizing: border-box;
    margin-top: auto;
   
}


.nav-text{
    margin-left: 20px;
    font-size: 20px;
}
.vector-3{
    color: white;
}